.care_b_l{width: 108rpx;}
.care_b_l image{width: 100%;border-radius: 50%;height: 108rpx;}
.h_re{width: 16rpx;margin:0 8rpx 0 12rpx;}
.h_grade image{width: 56rpx;}
.care_b{background: #fff;padding:25rpx 15rpx;box-sizing: border-box;width: 100%;margin-bottom: 15rpx;border-bottom: 1px solid #efefef;}
.care_h{padding:18rpx;box-sizing: border-box;width: 100%;}
.care_con{width: 560rpx;position: relative;}
.care_h3 text{color:#333;font-size: 30rpx;}
.h_grade{position: relative;}
.h_grade text{position: absolute;right:8rpx;top:0;color:#fff;font-size: 24rpx;}
.care_nav{margin-top: 15rpx;}
.care_btn{color:#7d7777;font-size: 26rpx;border:1px solid #dedcdc;padding:5rpx 25rpx;border-radius: 27rpx;margin-right: 10rpx;}
.care_txt{color:#1a1a1a;font-size: 22rpx;}
.care_txt text{color:#dbb76c;margin-right: 10rpx;}
.car_url{position: absolute;right:0;top:0;color:#1a1a1a;font-size: 24rpx;padding-left: 10rpx;}
.car_url text{color:#dbb76c;padding:0 10rpx;}
.car_url image{width: 12rpx;}

.tab_url{text-align: center;margin-bottom: 15rpx;}
.tab_url .tab_url_na{background: #dbb76c;font-size: 30rpx;padding:5rpx 15rpx;color:#fff;display: inline-block;margin:0 10rpx;border-radius: 10rpx;}

.h_grade image {width: 30rpx;vertical-align: top;margin-right: 4rpx;}

