<import src="../../wxParse/wxParse.wxml" />

<view class="single_b">
  <!-- <view class="sing_h1">{{title}}</view> -->
  <view class="sing_con">
    <template is="wxParse" data="{{wxParseData:content.nodes}}"/>
  </view>
</view>

<block wx:if="{{op_alert}}">
<view class="bg" bindtap='op_alert'></view>

<form bindsubmit='vip_sub'>
  <view class="vip_form">
    <radio-group class="sel_price" bindchange="sel_price">
      <label class="pri_radio" wx:key="" wx:for="{{money_sel}}">
        <radio value="{{item.type}}"/> <view class="s_view">{{item.name}} </view> 
        <view class="s_view" style="color:#f70505;padding-left:10rpx;">
          <block wx:if="{{item.is_viph==2}}">
            优惠价：{{item.viph_price}}
          </block>
        </view>
      </label>
    </radio-group>

    <button  class="op_btn" bindtap='op_confirm'>确定</button>
  </view>

</form>

</block>

<view style="height:90rpx;"  wx:if="{{cur_type!=4}}"></view>
<button class="open_vip" bindtap='op_alert' wx:if="{{cur_type==4}}">即刻开通</button>

<button class="open_vip" bindtap='appTeamGroup'  wx:if="{{cur_type==5}}">即刻申请</button>

<button class="open_vip" bindtap='appCityGroup'  wx:if="{{cur_type==6}}">即刻申请</button>


