<view class="pay_box">

  <view class="pay_way">
    
    <view class="need_t_p">
      <block wx:if="{{ptype==2}}">
        交换微信，请打赏 {{need_money}} 个喜饼
      </block>

      <block wx:if="{{ptype==1}}">
        帮我约Ta，请打赏 {{need_money}} 个喜饼
      </block>
    </view>

    <form bindsubmit='pay_money'>
      <view class="pay_radio_input">
        <view class="pay_way_radio dis_line">支付方式：</view>
        <radio-group class="radio_group dis_line" bindchange="sel_way">
          <label class="radio" wx:for="{{payList}}" wx:key="">
            <radio value="{{item.type}}" checked="{{item.checked}}"/>{{item.name}}
          </label>
        </radio-group>
      </view>
      <view class="rare_int">需支付 {{need_money}}</view>

      <view class="pay_tip">
        对方拒绝或没有回应,可申请退款，自动退回您的账户
      </view>
     
      <block wx:if="{{data['type==1']||data['type==3']}}">

      <block wx:if="{{type==1}}">
        <view class="need_integral">
          <view class="rare_int">当前积分 {{data['integral']}}</view>
          <input name="d_money" bindinput='set_money' type="number" placeholder='抵扣金额'></input>
        </view>
      </block>

      </block>
    
      <view class="p_btn_b p_btn_b_2">
        <button form-type='submit' class="web_btn">确定</button>
      </view>
    </form>

  </view>

</view>
