<import src="../place/index.wxml"/>
<view class="container">
  <block wx:if="{{type==1}}">
    <!-- <view class="inf_tab flex">
      <view class="tab_btn flex1 {{cur_sel==1?'current':''}}" data-cur='1' bindtap='sel_tab'>个人资料</view>
      <view class="tab_btn flex1 {{cur_sel==2?'current':''}}" data-cur='2' bindtap='sel_tab'>择偶标准</view>
      <view class="tab_btn flex1 {{cur_sel==3?'current':''}}" data-cur='3' bindtap='sel_tab'>兴趣爱好</view>
    </view>
    <view style="height:83rpx;"></view> -->
  </block>

  <view class="tab_content {{cur_sel==1?'tab_show':''}}">
    <view class="basic_info">基本资料</view>
    
    <form bindsubmit='mod_basic_info'>
    <view class="mem_seek">
      <view class="condition_b">
        <navigator hover-class='none' url="/pages/modify/headpic" class="seek_condition clearfix">
          <view class="seek_txt fl">个人头像</view>
          <view class="con_con fr">
              <view class="picker per_head">  
                <image  src="{{info['head_portrait']}}"></image>
                <image class="per_ri" src="/images/rig.png"></image>
              </view>
            
          </view>
        </navigator>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">昵称</view>
          <view class="con_con fr">
              <view class="picker per_head">  
                <input bindinput='write_msg' data-attr="nickname" placeholder='请输入' name="nickname" value="{{info['nickname']}}"></input>
                <image class="per_ri" src="/images/rig.png"></image>
              </view>
            
          </view>
        </view>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">UID</view>
          <view class="con_con fr">
              <view class="picker per_head">  
                <input disabled='disabled' value="{{info['uid']}}"></input>
                <image class="per_ri" src="/images/rig.png"></image>
              </view>
            
          </view>
        </view>

        <block wx:if="{{type==1}}">
        <view class="seek_condition clearfix">
          <view class="seek_txt fl">生日</view>
          <view class="con_con fr">
            <picker class="con_picker con_picker1" mode="date"  bindchange="get_bir" range-key='height' value="{{index}}">
              
              <view class="picker picker1">
                <block wx:if="{{info['birthday']!=''}}">
                  {{info['birthday']||'请选择'}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
              
            </picker>

            <image  class="per_ri2" src="/images/rig.png"></image>
          </view>
        </view>
        </block>

        <block wx:if="{{type==1}}">
        <view class="seek_condition clearfix">
          <view class="seek_txt fl">身高</view>
          <view class="con_con fr">
              <picker class="con_picker con_picker1" bindchange='sel_hei_a' mode="selector" range="{{heiArr}}">
                <view class="picker picker">
                  <block wx:if="{{info['height']==''}}">
                    请选择
                  </block>
                  <block wx:else>{{info['height']||'请选择'}}</block>
                  <input value="{{info['height']}}" name="height" style="position:absolute;z-index:-1;"></input>
                </view>
              </picker>

              <image  class="per_ri2" src="/images/rig.png"></image>

              <!-- <view class="picker per_head">  
                <input placeholder='请输入' type="number"  bindinput='write_msg' data-attr="height" name="height" value="{{info['height']}}"></input>
                <image class="per_ri" src="/images/rig.png"></image>
              </view> -->
            
          </view>
        </view>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">年收入</view>
          <view class="con_con fr">
            <picker class="con_picker con_picker1" mode="selector"   bindchange="get_income" range="{{basicData['income']}}">
              
              <view class="picker picker1">
                <block wx:if="{{info['income']}}">
                  {{basicData['income'][info['income']]}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
              
            </picker>

            <image  class="per_ri2" src="/images/rig.png"></image>
          </view>
        </view>
        </block>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">工作生活在</view>
          <view class="con_con fr" style="text-align:right;padding-right:30rpx;" data-type="1" bindtap="dianji">
            <!-- <picker class="con_picker con_picker1 con_picker11" mode="selector"  range-key='name' range="{{place}}"  bindchange="getPlace">
              
              <view class="picker picker1">
                <block wx:if="{{sel_place==''}}">
                  <block wx:if="{{info['provinces']}}">
                    {{info['provinces']}}
                  </block>
                  <block wx:else>
                    请选择
                  </block>
                </block>
                <block wx:else>
                  {{sel_place}}
                </block>
                
              </view>
              
            </picker>

            <picker class="con_picker con_picker1 con_picker11" mode="selector"  range-key='name' range="{{city}}"  bindchange="getCity">
              
              <view class="picker picker1">
                  <block wx:if="{{sel_place!=''}}">
                  <block wx:if="{{sel_city==''}}">
                    <text style="padding-left:10rpx;"> 请选择市</text>
                  </block>
                  <block wx:else>
                    -{{sel_city}}
                  </block>
                  </block>
              </view>
              
            </picker> -->
            <view class="picker picker1">
              {{info['provinces_name']}}
            </view>

            <image  class="per_ri2" src="/images/rig.png"></image>
          </view>
        </view>

        <block wx:if="{{type==1}}">
        <!-- <view class="seek_condition clearfix">
          <view class="seek_txt fl">期望结婚时间</view>
          <view class="con_con fr">
            <picker class="con_picker con_picker1" mode="selector"   bindchange="get_martime" range="{{basicData['marriage_time']}}">
              
              <view class="picker picker1">
                <block wx:if="{{info['marriage_time']}}">
                  {{basicData['marriage_time'][info['marriage_time']]}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
              
            </picker>

            <image  class="per_ri2" src="/images/rig.png"></image>
          </view>
        </view> -->
        </block>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">微信</view>
          <view class="con_con fr">
              <view class="picker per_head">  
                <input placeholder='请输入' name="wx_number" bindinput='write_msg' data-attr="wx_number"  value="{{info['wx_number']}}"></input>
                <image class="per_ri" src="/images/rig.png"></image>
              </view>
            
          </view>
        </view>

        
        
        <navigator url="/pages/certification/index?type=1" wx:if="{{type==1}}" class="seek_condition clearfix">
          <view class="seek_txt fl">身份认证</view>
          <view class="con_con fr">
              <view class="picker per_head">  
                <block wx:if="{{info['sfz']==0}}">
                  未上传
                </block>

                <block wx:if="{{info['sfz']==1}}">
                  待审核
                </block>

                <block wx:if="{{info['sfz']==2}}">
                  审核成功
                </block>

                <block wx:if="{{info['sfz']==3}}">
                  审核拒绝
                </block>

                
                <image class="per_ri" src="/images/rig.png"></image>
              </view>
          </view>
        </navigator>

        <!-- <navigator url="/pages/certification/index?type=2" class="seek_condition clearfix">
          <view class="seek_txt fl">学历认证</view>
          <view class="con_con fr">
              <view class="picker per_head">  
                <block wx:if="{{info['xl']==0}}">
                  未上传
                </block>

                <block wx:if="{{info['xl']==1}}">
                  待审核
                </block>

                <block wx:if="{{info['xl']==2}}">
                  审核成功
                </block>

                <block wx:if="{{info['xl']==3}}">
                  审核拒绝
                </block>
                <image class="per_ri" src="/images/rig.png"></image>
              </view>
          </view>
        </navigator>

        <navigator url="/pages/certification/index?type=4" class="seek_condition clearfix">
          <view class="seek_txt fl">房产认证</view>
          <view class="con_con fr">
              <view class="picker per_head">  
                <block wx:if="{{info['fc']==0}}">
                  未上传
                </block>

                <block wx:if="{{info['fc']==1}}">
                  待审核
                </block>

                <block wx:if="{{info['fc']==2}}">
                  审核成功
                </block>

                <block wx:if="{{info['fc']==3}}">
                  审核拒绝
                </block>
                <image class="per_ri" src="/images/rig.png"></image>
              </view>
          </view>
        </navigator>

        <navigator url="/pages/certification/index?type=3" class="seek_condition clearfix">
          <view class="seek_txt fl">汽车认证</view>
          <view class="con_con fr">
              <view class="picker per_head">  
                <block wx:if="{{info['cl']==0}}">
                  未上传
                </block>

                <block wx:if="{{info['cl']==1}}">
                  待审核
                </block>

                <block wx:if="{{info['cl']==2}}">
                  审核成功
                </block>

                <block wx:if="{{info['cl']==3}}">
                  审核拒绝
                </block>
                <image class="per_ri" src="/images/rig.png"></image>
              </view>
          </view>
        </navigator> -->
        
        <block wx:if="{{type==2}}">

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">职业</view>
          <view class="con_con fr">
              <view class="con_con fr">
                <picker class="con_picker1" mode="multiSelector" bindchange='sel_post' 
                value="{{ zhiye_value }}"
                bindcolumnchange="bindMultiPickerColumnChange" range-key="title" range="{{multiArray}}">
                  <view class="picker" style="padding-right: 200rpx;"> {{ job_txt }} </view>
                  <view class="picker" wx:if="{{job_index!=''}}"> {{job_arr[job_index].value}} </view>
                </picker>
                <image  class="per_ri2" src="/images/rig.png"></image>
                <input name="vocation" value="{{vocationId}}" type="hidden" style="position:absolute;z-index:-1;"></input>
                <input name="job" value="{{jobId}}" type="hidden" style="position:absolute;z-index:-1;"></input>
            </view>
              
          </view>
        </view>

        <!-- <view class="seek_condition clearfix">
          <view class="seek_txt fl">导师介绍</view>
          <view class="con_con fr">
              <view class="picker per_head_intro per_head_intro2">  
                  <textarea name="intro2" value="{{info['intro2']}}" placeholder='您的简介'></textarea>
               
              </view>
            
          </view>
        </view> -->
        </block>

      </view>
    </view>

    <block wx:if="{{type==1}}">
    <view class="basic_info">详细资料</view>

    <view class="mem_seek">
      <view class="condition_b">

         <view class="seek_condition clearfix">
          <view class="seek_txt fl">学历</view>
          <view class="con_con fr">
            <picker class="con_picker con_picker1" mode="selector"   bindchange="get_edu" range="{{basicData['education']}}">
              
              <view class="picker picker1">
                <block wx:if="{{info['education']}}">
                  {{basicData['education'][info['education']]}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
              
            </picker>

            <image  class="per_ri2" src="/images/rig.png"></image>
          </view>
        </view>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">民族</view>
          <view class="con_con fr">
            <picker class="con_picker con_picker1" mode="selector"   bindchange="get_mz" range="{{basicData['nation']}}">
              
              <view class="picker picker1">
                <block wx:if="{{info['nation']}}">
                  {{basicData['nation'][info['nation']]}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
              
            </picker>

            <image  class="per_ri2" src="/images/rig.png"></image>
          </view>
        </view>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">户籍(老家)</view>
          <view class="con_con fr" style="text-align:right;padding-right:30rpx;">
            <!-- <picker class="con_picker con_picker1 con_picker11" mode="selector"  range-key='name' range="{{place}}"  bindchange="getPlace1">
              
              <view class="picker picker1">
                <block wx:if="{{sel_place1==''}}">
                  <block wx:if="{{info['koseki']}}">
                    {{info['koseki']}}
                  </block>
                  <block wx:else>
                    请选择
                  </block>
                </block>
                <block wx:else>
                  {{sel_place1}}
                </block>
                
              </view>
              
            </picker>

            <picker class="con_picker con_picker1 con_picker11" mode="selector"  range-key='name' range="{{city}}"  bindchange="getCity1">
              
              <view class="picker picker1">
                  <block wx:if="{{sel_place1!=''}}">
                  <block wx:if="{{sel_city1==''}}">
                    <text style="padding-left:10rpx;"> 请选择市</text>
                  </block>
                  <block wx:else>
                    -{{sel_city1}}
                  </block>
                  </block>
              </view>
              
            </picker> -->

            <view class="picker picker1" data-type="2" bindtap="dianji">
              {{info['koseki_name']}}
            </view>

            <input type="hidden" style="position:absolute;z-index:-1;" value="{{info['koseki']}}"></input>

            <image  class="per_ri2" src="/images/rig.png"></image>
          </view>
        </view>

        <block wx:if="{{type==1}}">
        <view class="seek_condition clearfix">
          <view class="seek_txt fl">婚姻状况</view>
          <view class="con_con fr">
            <picker class="con_picker con_picker1" mode="selector"   bindchange="get_mar_stauts" range="{{basicData['gam']}}">
              
              <view class="picker picker1">
                <block wx:if="{{info['gam']}}">
                  {{basicData['gam'][info['gam']]}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
              
            </picker>

            <image  class="per_ri2" src="/images/rig.png"></image>
          </view>
        </view>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">职业</view>
          <view class="con_con fr">
              <picker class="con_picker1" mode="multiSelector"
              value="{{ zhiye_value }}"
              bindchange='sel_post' bindcolumnchange="bindMultiPickerColumnChange" range-key="title" range="{{multiArray}}">
                <view class="picker" wx:if="{{job_index==''}}"> {{ job_txt }} </view>
                <view class="picker" wx:if="{{job_index!=''}}"> {{job_arr[job_index].value}} </view>
              </picker>
              <image  class="per_ri2" src="/images/rig.png"></image>
              <input name="vocation" value="{{vocationId}}" type="hidden" style="position:absolute;z-index:-1;"></input>
              <input name="job" value="{{jobId}}" type="hidden" style="position:absolute;z-index:-1;"></input>
          </view>
        </view>

        <!-- <view class="seek_condition clearfix">
          <view class="seek_txt fl">信仰</view>
          <view class="con_con fr">
            <picker class="con_picker con_picker1" mode="selector" data-type="belief"  bindchange="get_selected" range="{{basicData['belief']}}">
              
              <view class="picker picker1">
                <block wx:if="{{info['belief']}}">
                  {{basicData['belief'][info['belief']]}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
              
            </picker>

            <image  class="per_ri2" src="/images/rig.png"></image>
          </view>
        </view> -->

        <!-- <view class="seek_condition clearfix">
          <view class="seek_txt fl">饮酒</view>
          <view class="con_con fr">
            <picker class="con_picker con_picker1" mode="selector" data-type="drink"  bindchange="get_selected" range="{{basicData['drink']}}">
              
              <view class="picker picker1">
                <block wx:if="{{info['drink']}}">
                  {{basicData['drink'][info['drink']]}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
              
            </picker>

            <image  class="per_ri2" src="/images/rig.png"></image>
          </view>
        </view>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">吸烟</view>
          <view class="con_con fr">
            <picker class="con_picker con_picker1" mode="selector" data-type="smoke"  bindchange="get_selected" range="{{basicData['smoke']}}">
              
              <view class="picker picker1">
                <block wx:if="{{info['smoke']}}">
                  {{basicData['smoke'][info['smoke']]}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
              
            </picker>

            <image  class="per_ri2" src="/images/rig.png"></image>
          </view>
        </view>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">家中排行</view>
          <view class="con_con fr">
              <view class="picker per_head">  
                <input placeholder='请输入' type="number" name="ranking" value="{{info['ranking']}}"></input>
                <image class="per_ri" src="/images/rig.png"></image>
              </view>
            
          </view>
        </view>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">有无子女</view>
          <view class="con_con fr">
            <picker class="con_picker con_picker1" mode="selector" data-type="children"  bindchange="get_selected" range="{{basicData['children']}}">
              
              <view class="picker picker1">
                <block wx:if="{{info['children']}}">
                  {{basicData['children'][info['children']]}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
              
            </picker>

            <image  class="per_ri2" src="/images/rig.png"></image>
          </view>
        </view> -->

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">体重</view>
          <!-- <view class="con_con fr">
              <view class="picker per_head">  
                <input placeholder='请输入体重单位kg' type="text" bindinput='write_msg' data-attr="weight" name="weight" value="{{info['weight']}}"></input>
                <image class="per_ri" src="/images/rig.png"></image>
              </view>
            
          </view> -->

          <view class="con_con fr">
            <picker mode="selector"  bindchange="get_wei"  range="{{weiArr}}">
              <view class="picker">
                <block wx:if="{{info['weight']==''}}">
                  请选择体重（单位KG）
                </block>
                <block wx:else>
                  {{info['weight']||'请选择体重（单位KG）'}}
                </block>
                
              </view>
            </picker>

            <input value="{{info['weight']}}" style="position:absolute;z-index:-1;" name="weight"></input>
          </view>
          
          <image class="per_ri2" src="/images/rig.png"></image>

        </view>
        </block>

      </view>
    </view>
    </block>

    <view class="mod_btn">
      <button  class="web_btn" form-type='submit'>保存</button>
    </view>
    </form>

  </view>

  <view class="tab_content {{cur_sel==2?'tab_show':''}}">
    <form bindsubmit='sub_ban'>
    <view class="tab_pd" bindtap='show_s'>
      <view class="tab_t">
        <text>择偶标准</text> 
        <image mode='widthFix' src="/images/pen.png"></image>
      </view>
      <view class="say_word">
        <block wx:if="{{z_content==null}}">
          写下你想对TA说的话。
        </block>
        <block wx:else>
          {{z_content}}
        </block>
      </view>
    </view>

    <view class='mem_seek'>
      <view class='condition_b'>
      
        <view class="seek_condition clearfix">
          <view class="seek_txt fl">年龄</view>
          <view class="con_con fr">
            <picker mode="multiSelector" range-key='age'  bindchange="get_age" value="{{twoAge}}" range="{{ageList}}">
              <view class="picker">
                
                
                <block wx:if="{{ageList[0][twoAge[0]].age}}">
                    {{ageList[0][twoAge[0]].age}}~{{ageList[0][twoAge[1]].age}} 岁
                </block>
                <block wx:else>
                  <block wx:if="{{BasicStandard.age1!=''}}">
                    {{BasicStandard.age1}} ~ {{BasicStandard.age2}}

                  </block>
                  <block wx:else>
                    请选择
                  </block>
                </block>
              </view>
            </picker>
          </view>
        </view>

        
        <view class="seek_condition clearfix">
          <view class="seek_txt fl">身高</view>
          <view class="con_con fr">
            <picker mode="selector"  bindchange="get_hei" range-key='height' value="{{index11}}" range="{{height}}">
              <view class="picker">
                <block wx:if="{{height[index11].height}}">
                  {{height[index11].height}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
            </picker>
          </view>
        </view>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">年收入</view>
          <view class="con_con fr">
            <picker mode="selector" data-type="income"  bindchange="get_standard" value="{{index}}" range="{{basicData.income}}">
              <view class="picker">
                <block wx:if="{{BasicStandard['income']}}">
                  {{basicData['income'][BasicStandard['income']]}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
            </picker>
          </view>
        </view>
        


        <view class="seek_condition clearfix">
          <view class="seek_txt fl">工作生活在</view>
          <view class="con_con fr">
              <view class="con_con fr" style="text-align:right;padding-right:30rpx;">
              <picker class="con_picker con_picker1 con_picker11" mode="selector"  range-key='name' range="{{place}}"  bindchange="getPlace11">
                <view class="picker picker1">
                  <block wx:if="{{sel_place2==''}}">
                    <block wx:if="{{BasicStandard['provinces']}}">
                      {{BasicStandard['provinces']}}
                    </block>
                    <block wx:else>
                      请选择
                    </block>
                  </block>
                  <block wx:else>
                    {{sel_place2}}
                  </block>
                  
                </view>
                
              </picker>

              <picker class="con_picker con_picker1 con_picker11" mode="selector"  range-key='name' range="{{city}}"  bindchange="getCity2">
                
                <view class="picker picker1">
                    <block wx:if="{{sel_place2!=''}}">
                    <block wx:if="{{sel_city2==''}}">
                      <text style="padding-left:10rpx;"> 请选择市</text>
                    </block>
                    <block wx:else>
                      -{{sel_city2}}
                    </block>
                    </block>
                </view>
                
              </picker>


              <image  class="per_ri2" src="/images/rig.png"></image>
            </view>
          </view>
        </view>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">户籍(老家)</view>
          <view class="con_con fr">
              <view class="con_con fr" style="text-align:right;padding-right:30rpx;">
              <picker class="con_picker con_picker1 con_picker11" mode="selector"  range-key='name' range="{{place}}"  bindchange="getPlace21">
                
                <view class="picker picker1">
                  <block wx:if="{{sel_place3==''}}">
                    <block wx:if="{{BasicStandard['koseki']}}">
                      {{BasicStandard['koseki']}}
                    </block>
                    <block wx:else>
                      请选择
                    </block>
                  </block>
                  <block wx:else>
                    {{sel_place3}}
                  </block>
                  
                </view>
                
              </picker>

              <picker class="con_picker con_picker1 con_picker11" mode="selector"  range-key='name' range="{{city}}"  bindchange="getCity3">
                
                <view class="picker picker1">
                    <block wx:if="{{sel_place3!=''}}">
                    <block wx:if="{{sel_city3==''}}">
                      <text style="padding-left:10rpx;"> 请选择市</text>
                    </block>
                    <block wx:else>
                      -{{sel_city3}}
                    </block>
                    </block>
                </view>
                
              </picker>

              <image  class="per_ri2" src="/images/rig.png"></image>
            </view>
          </view>
        </view>

        

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">婚姻状况</view>
          <view class="con_con fr">
            <picker mode="selector" data-type="gam"  bindchange="get_standard" value="{{index}}" range="{{basicData.gam}}">
              <view class="picker">
                <block wx:if="{{BasicStandard.gam}}">
                  {{basicData.gam[BasicStandard['gam']]}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
            </picker>
          </view>
        </view>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">信仰</view>
          <view class="con_con fr">
            <picker mode="selector" data-type="belief"  bindchange="get_standard" value="{{index}}" range="{{basicData.belief}}">
              <view class="picker">
                <block wx:if="{{BasicStandard.belief}}">
                  {{basicData.belief[BasicStandard['belief']]}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
            </picker>
          </view>
        </view>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">饮酒</view>
          <view class="con_con fr">
            <picker mode="selector" data-type="drink"  bindchange="get_standard" value="{{index}}" range="{{basicData.drink}}">
              <view class="picker">
                <block wx:if="{{BasicStandard.drink}}">
                  {{basicData.drink[BasicStandard['drink']]}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
            </picker>
          </view>
        </view>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">吸烟</view>
          <view class="con_con fr">
            <picker mode="selector" data-type="smoke"  bindchange="get_standard" value="{{index}}" range="{{basicData.smoke}}">
              <view class="picker">
                <block wx:if="{{BasicStandard.smoke}}">
                  {{basicData.drink[BasicStandard['smoke']]}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
            </picker>
          </view>
        </view>

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">有无子女</view>
          <view class="con_con fr">
            <picker mode="selector" data-type="children"  bindchange="get_standard" value="{{index}}" range="{{basicData.children}}">
              <view class="picker">
                <block wx:if="{{BasicStandard.children}}">
                  {{basicData.children[BasicStandard['children']]}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
            </picker>
          </view>
        </view>

        

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">体重</view>
          <view class="con_con fr">
            <picker mode="selector" range-key='weight'  bindchange="zget_wei" value="{{index}}" range="{{weight}}">
              <view class="picker">
                <block wx:if="{{wei_str!=''}}">
                  {{wei_str}}
                </block>

                <block wx:else>
                  <block wx:if="{{BasicStandard.weight}}">
                    {{[BasicStandard['weight']]}}
                  </block>
                  <block wx:else>
                    请选择
                  </block>
                </block>
                
              </view>
            </picker>
          </view>
          
          
        </view>
        
        

        <view class="seek_condition clearfix">
          <view class="seek_txt fl">星座</view>
          <view class="con_con fr">
            <picker mode="selector" data-type="constellation"  bindchange="get_standard" value="{{index}}" range="{{basicData.constellation}}">
              <view class="picker">
                <block wx:if="{{BasicStandard.children}}">
                  {{basicData.constellation[BasicStandard['constellation']]}}
                </block>
                <block wx:else>
                  请选择
                </block>
                
              </view>
            </picker>
          </view>
        </view>

        

      </view>

    </view>

    <view class="mod_btn">
      <button  class="web_btn" form-type='submit'>保存</button>
    </view>
    </form>

  </view>

  <view class="tab_content {{cur_sel==3?'tab_show':''}}">
    <view class="in_h3">完善个人标签、兴趣爱好，快速找到属于你的人。</view>

    <view class="sign_b">
      
      <navigator url="hobbyAdd?id=1" class="sign_nav clearfix">
        <view class="sign_b_icon fl">
          <image mode='widthFix' src="/images/sign_icon.png"></image>
        </view>
        <view class="sign_b_con fl">
          <text>个人标签</text>
          <view class="sign_con_b">
            <view class="sign_cn" wx:for="{{list['1']}}" wx:key="">{{item}}</view>
            
          </view>
        </view>

        <image class="sign_ri" src="/images/rig.png"></image>
      </navigator>

      <navigator url="hobbyAdd?id=2" class="sign_nav clearfix">
        <view class="sign_b_icon fl">
          <image mode='widthFix' src="/images/video.png"></image>
        </view>
        <view class="sign_b_con fl">
          <text>喜欢的电影</text>
          <view class="sign_con_b">
            <view class="sign_cn" wx:for="{{list['2']}}" wx:key="">{{item}}</view>
          </view>
        </view>

        <image class="sign_ri" src="/images/rig.png"></image>
      </navigator>

      <navigator  url="hobbyAdd?id=3" class="sign_nav clearfix">
        <view class="sign_b_icon fl">
          <image mode='widthFix' src="/images/music.png"></image>
        </view>
        <view class="sign_b_con fl">
          <text>喜欢的音乐</text>
          <view class="sign_con_b">
            <view class="sign_cn" wx:for="{{list['3']}}" wx:key="">{{item}}</view>
          </view>
        </view>

        <image class="sign_ri" src="/images/rig.png"></image>
      </navigator>

      <navigator  url="hobbyAdd?id=4" class="sign_nav clearfix">
        <view class="sign_b_icon fl">
          <image mode='widthFix' src="/images/book.png"></image>
        </view>
        <view class="sign_b_con fl">
          <text>喜欢的书籍</text>
          <view class="sign_con_b">
            <view class="sign_cn" wx:for="{{list['4']}}" wx:key="">{{item}}</view>
          </view>
        </view>

        <image class="sign_ri" src="/images/rig.png"></image>
      </navigator>

      <navigator  url="hobbyAdd?id=5" class="sign_nav clearfix">
        <view class="sign_b_icon fl">
          <image mode='widthFix' src="/images/food.png"></image>
        </view>
        <view class="sign_b_con fl">
          <text>喜欢的美食</text>
          <view class="sign_con_b">
            <view class="sign_cn" wx:for="{{list['5']}}" wx:key="">{{item}}</view>
          </view>
        </view>

        <image class="sign_ri" src="/images/rig.png"></image>
      </navigator>

      <navigator  url="hobbyAdd?id=6" class="sign_nav clearfix">
        <view class="sign_b_icon fl">
          <image mode='widthFix' src="/images/sports.png"></image>
        </view>
        <view class="sign_b_con fl">
          <text>喜欢的运动</text>
          <view class="sign_con_b">
            <view class="sign_cn" wx:for="{{list['6']}}" wx:key="">{{item}}</view>
          </view>
        </view>

        <image class="sign_ri" src="/images/rig.png"></image>
      </navigator>



    </view>

  </view>

  <!-- 择偶标准 -->
  <view class='bg' bindtap='if_show' wx:if="{{m_alert}}"></view>  
  <view class="add_Mate" wx:if="{{m_alert}}">
    <form bindsubmit='mate_sub'>
      <textarea fixed="true" name="mateContent" placeholder='请输入您的要求'></textarea>
      <button form-type='submit' class='web_btn'>确定</button>
    </form>
  </view>


  <!-- 省市调用 -->
  <template is="cascade" data="{{animationData:animationData,sheng:sheng,shi:shi}}"/>

</view>
