@import 'singleIndex.wxss';

.h_grade{background: #f3bf73;border-radius: 26rpx;}
.h_grade text{color:#fff;font-size: 22rpx;background: none;}
.list_con{margin-top: 26rpx;}
.match_static{margin-top:10rpx;}
.static_txt{width: 160rpx;border-right: 1px solid #f1f1f1;text-align: center;height: 73rpx;color:#000;font-size: 25rpx;}
.static_txt text{color:#6d6d6d;font-size: 25rpx;display: block;width: 100%;}
.static_txt:nth-last-child(1){border-right: none;}
.inf_b .flex1{line-height: 40rpx;padding-top: 25rpx;}
.intro_y{color:#878787;font-size: 22rpx;padding-left: 0;}
.inf_b text{font-size: 33rpx;padding-left: 0;}
.inf_b image{padding-left: 55rpx;}
.p_r{text-align: left;margin-left:25rpx;}

.h_nav{background: #fff;}
.nav_gator{width: 25%;text-align: center;padding:40rpx 0 25rpx;position: relative;}
.nav_gator .nav_tip{position: absolute;width: 34rpx;height: 34rpx;background: #ff3333;text-align: center;line-height: 34rpx;color:#fff;right:25rpx;top:20rpx;border-radius: 50%;font-size: 24rpx;}
.nav_gator text{color:#717171;font-size: 25rpx;}
.ga_pic image{width: 50rpx;}
.ga_pic{height: 64rpx;}
.h_nav{margin-bottom: 15rpx;}
.h_nav1 .nav_tip{width: 11rpx;height: 11rpx;right: 50rpx;}
