<block wx:if="{{identity==1 || identity==3}}">
  <view class="container">

    <view class="member_b">

      <view class="m_list clearfix">
        <view url="/pages/group/hinfo?id={{info['hid']}}" class="list_img fl">
          <image src="{{info['head_portrait']}}"></image>
        </view>

        <view class="list_con fr">
          <view class="m_sign">
            <view class="hmarker dis_linem"><text> {{info['nickname']}} </text> <image wx:if="{{info['is_vip']==1}}" class="is_vip_user" src="/images/vip.png" mode='widthFix'></image></view>
            <view class="h_grade dis_linem">
              <block wx:if="{{info['nickname']==1}}">
              <image mode="widthFix" src="/images/vip.png"></image>
              </block>
            </view>

          </view>

          <view class="inf_id">UID:{{info['uid']}} </view>

          <view class="info_com_b">
            <view class="info_com dis_lineT">
              <view class="info_txt" style="width:{{info['perfect']}};">资料完整度 {{info['perfect']}}</view>
            </view>

            <navigator url="/pages/userInfo/hobby?type=1" class="go_info dis_lineT">去完善</navigator>
          </view>

          <block wx:if="{{my_identity==1}}">
            <view class="change_aut" data-type="2" bindtap='apply_id'>申请成为红娘<image mode="widthFix" src="/images/h_ri.png"></image> </view>
          </block>

          <block wx:if="{{my_identity==3||my_identity==2}}">
            <view data-type="2" bindtap='set_id_status' class="change_aut">我要当红娘<image mode="widthFix" src="/images/h_ri.png"></image> </view>
          </block>
          
          <!-- <view class="contact_b">
            <image src="/images/add/9.png" mode='widthFix'></image>
            <button class="cont_btn" open-type="contact" session-from="weapp"></button>
          </view> -->

        </view>
        
        
      </view>

      <view class="inf_b flex">
        <navigator url="/pages/singleCon/index" class="flex1">
          <image mode='widthFix' src="/images/wal.jpg" style="margin-left:0;"></image>
          <text>我的账户</text>
        </navigator>
        <navigator url="/pages/vip/member?type=4" class="flex1 bor_l">
          <image  mode='widthFix' src="/images/isvip.png" style="margin-left:0;"></image>
          <text>会员服务</text>
        </navigator>
      </view>

    </view>

    <view class="user_nav">
      
      <!-- <navigator url="/pages/fare/index?title=邀请单身好友加入" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/yq.png"></image>
          <text>邀请好友加入</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
          <view class="user_nav_txt dis_line fr">
            
            立赚喜饼,可提现
          </view>
          
        </view>
      </navigator> -->

      <!-- <navigator url="/pages/fare/index?title='邀请好友当我婚恋导师'" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/yq2.png"></image>
          <text>邀请好友当我婚恋导师</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
          <view class="user_nav_txt dis_line fr">立赚{{info['HIntegral']}}积分</view>
          
        </view>
      </navigator> -->
    
    </view>

    <view class="user_nav">
      
      <!-- <navigator url="/pages/report/list" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/xs.png"></image>
          <text>我的悬赏</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
          <view class="user_nav_txt dis_line fr">发布悬赏</view>
          
        </view>
      </navigator> -->

      <!-- <navigator url="/pages/singleCon/index" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/qx.png"></image>
          <text>我的账户</text>
          
        </view>
      </navigator> -->

      <!-- <navigator url="/pages/mfate/index?type=1" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/qx.png"></image>
          <text>帮我约TA</text>
          <view wx:if="{{info['bwyt_count']!=0}}" class="latest_num">{{info['bwyt_count']}}</view>
        </view>
      </navigator> -->

      

      <!-- <navigator url="/pages/mfate/index?type=2" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/qx.png"></image>
          <text>有人约我</text>
          <view wx:if="{{info['yryw_count']!=0}}" class="latest_num">{{info['yryw_count']}}</view>
        </view>
      </navigator> -->

    
      <!-- <block wx:if="{{my_identity==3}}">
        <navigator url="/pages/my/coin" class="user_url">
          <view class="user_n_b clearfix">
            <image class="u_icon dis_line" mode='widthFix' src="/images/pd.png"></image>
            <text>我的派对币</text>
            <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
            <view class="user_nav_txt dis_line fr" style="color:#666">{{info['price']}}</view>
          </view>
        </navigator>
      </block> -->

      <navigator hover-class='none' url="/pages/change/index?type=1" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/wx.png"></image>
          <text>微信添加记录</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
          <view wx:if="{{info['wjdf_count']!=0}}" class="latest_num">{{info['wjdf_count']}}</view>
          <view class="latest_num latest_num2">{{info['wjdf_count2']}}</view>
        </view>
      </navigator>

      <!-- <navigator hover-class='none' url="/pages/change/index?type=2" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/wx.png"></image>
          <text>对方加我微信</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
          <view wx:if="{{info['dfjw_count']!=0}}" class="latest_num">{{info['dfjw_count']}}</view>
          <view class="latest_num latest_num2">{{info['dfjw_count2']}}</view>
        </view>
      </navigator> -->

      <navigator hover-class='none' url="/pages/my/activity" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/hd.png"></image>
          <text>参加的活动</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
          <view class="latest_num latest_num2">{{info['huodong_count']}}</view>
        </view>
      </navigator>

      

      <navigator hover-class='none' url="/pages/like/list" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/hfw.png"></image>
          <text>心动关注</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
          <view class="latest_num latest_num2">{{info['xindong_count']}}</view>
        </view>
      </navigator>

      <!-- /pages/love/hlist?id={{info['hid']}} -->
      <navigator hover-class='none' url="/pages/group/hinfo?id={{info['hid']}}&route=1" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/hn.png"></image>
          <text>我的红娘</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
          <view class="user_nav_txt dis_line fr" style="color:#666;">
            <block wx:if="{{info['hid']==0}}">
          
              <block wx:if="{{info['red']==0}}">
              暂无红娘
              </block>
              <block wx:if="{{info['red']==1}}">
              申请中
              </block>

            </block>

            

            {{info['hname']}}
          </view>

          <image class="fr u_hn" src="{{info['himg']}}"></image>
          
        </view>
      </navigator>

      <!-- <navigator hover-class='none' url="/pages/singleCon/index" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/wal.jpg"></image>
          <text>我的账户</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>

        </view>
      </navigator> -->


      <!-- <navigator url="/pages/vip/member?type=4" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/hfw.png"></image>
          <text>会员服务</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
        
        </view>
      </navigator> -->

      <!-- <navigator url="" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/lwlw.png"></image>
          <text>礼物来往</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
        
        </view>
      </navigator> -->

      <!-- <navigator url="/pages/love/list" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/xdlw.png"></image>
          <text>我的心动</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
        
        </view>
      </navigator> -->

      <navigator hover-class='none' url="/pages/set/index" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/set.png"></image>
          <text>设置</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
        
        </view>
      </navigator>
    
    </view>

    <view style="height:30rpx;"></view>

    <import src="/pages/template/common.wxml" />
    <template data="{{curSel:5}}" is="bot_nav"></template>

  </view>

</block>


<block wx:if="{{identity==2}}">
  <view class="container">

    <view class="member_b">

      <view class="m_list clearfix">
        <navigator hover-class='none' url="/pages/userInfo/hobby?type=2" class="list_img fl">
          <image src="{{info['head_portrait']}}"></image>
        </navigator>

        <view class="list_con fr">

          <view class="h_identify clearfix">
            <view class="h_iden_sign fl">
              <block wx:if="{{info['level']==''}}">红娘达人</block>
              <block wx:if="{{info['level'].length==1}}">红娘盟主</block>
              <block wx:if="{{info['level'].length==2}}">城市合伙人</block>
            </view>
            <view class="h_score_b fl">奖励积分 <text>{{info['jljf']||0}}</text></view>
          </view>

          <view class="m_sign">
            <view class="hmarker dis_linem"><text> {{info['nickname']}} </text></view>
            <view class="h_grade dis_linem">
              <block wx:if="{{info['level']!=''}}">
              <image wx:for="{{info['level']}}" wx:key="" mode="widthFix" src="/images/hg.png"></image>
              <!-- <text>{{info['level']}}</text> -->
              </block>
              
            </view>

          </view>

          <navigator  hover-class='none' url="/pages/userInfo/hobby?type=2" class="inf_id">点击编辑或查看资料</navigator>

          <view data-type="1" bindtap='set_id_status' open-type="redirect" url="singleIndex" class="change_aut">我要找对象 <image mode="widthFix" src="/images/h_ri.png"></image></view>

          <!-- <view class="contact_b contact_b2">
            <image src="/images/add/9.png" mode='widthFix'></image>
            <button class="cont_btn" open-type="contact" session-from="weapp"></button>
          </view>   -->

        </view>
        
        <view class='clear'></view>
        <!-- <view class="match_static clearfix">
          <view class="static_txt fl">
            {{info['concern_count']}}
            <text>关注</text>
          </view>
        
          <view class="static_txt fl">
            {{info['evaluate_count']}}
            <text>评价</text> 
          </view>
        </view> -->
      </view>

      <!-- <view class="inf_b flex">
        <navigator url="" class="clearfix flex1">
          <image class="fl" mode='widthFix' src="/images/yqh.png"></image>
          <view class="p_r fl">
            <text>邀请好友红娘</text>
            <view class="intro_y">立赚红包与积分</view>
          </view>
        </navigator>
        <navigator url="" class="clearfix flex1 bor_l">
          <image  class="fl" mode='widthFix' src="/images/zmj.png"></image>
          <view class="p_r fl">
            <text>招募单身团</text>
            <view class="intro_y">立赚红包与积分</view>
          </view>
        </navigator>
      </view> -->

    </view>

    <view class="h_index clearfix">
      <navigator hover-class='none' url="/pages/mysingList/index?id={{info['id']}}" class="h_d_l fl">
          <image mode='widthFix' src="/images/md.png"></image>
          <text>我的单身团 {{info['single_count']}}</text>
      </navigator>

      <view class="z_ds" style="text-align:center;width:auto;">
        <navigator url="/pages/fare/index?title=邀请好友当红娘?&type=2" class="z_nav">发送邀请码</navigator>
      </view>

      
      <!-- <view class="z_ds fr">
        <navigator url="/pages/fare/index?title=招募我的单身团&type=1" class="z_nav">招募我的单身团</navigator>
      </view> -->

      
    </view>

    <view class="h_index clearfix">
      <navigator hover-class='none' url="/pages/married/index" class="h_d_l fl">
          <image mode='widthFix' src="/images/md.png"></image>
          <text>我的红娘团 {{info['hongnian_count']}}</text>
      </navigator>
      <!-- <view class="z_ds" style="text-align:center;width:100%;">
        <navigator url="/pages/fare/index?title=邀请好友当红娘?&type=2" class="z_nav">发送邀请码</navigator>
      </view> -->
      <view class="z_ds" style="text-align:center;width:auto;">
        <navigator url="/pages/hb/index" class="z_nav" style="background: #C5C3AA;">海报生成</navigator>
      </view>

      <!-- <navigator  hover-class='none' url="/pages/my/coin" class="nav_gator fl nav_gator2 " style="padding:0;width:50%;">
        <view class="ga_pic">
          <image mode='widthFix' src="/images/add/1.png"></image>
        </view>
        <text>我的账户 
        <text style="color:red;">{{info['price']}}</text>
        </text>
      </navigator> -->

    </view>

    <!-- <view class="h_nav clearfix">
      
      <navigator url="/pages/matchmaker/memberList" class="nav_gator fl">
      
        <view class="ga_pic">
          <image mode='widthFix' src="/images/md.png"></image>
        </view>
        <text>我的单身团 
        {{info['single_count']}}
        </text>
      </navigator>

      <navigator class="nav_gator fl">
    
        <view class="ga_pic">
          <image mode='widthFix' src="/images/hnt.png"></image>
        </view>
        <text>我的红娘团 
        {{info['hongnian_count']}}
        </text>
      </navigator>
    </view> -->

    <view class="h_nav h_nav1 clearfix" style="margin-bottom:5rpx;margin-top:15rpx;">
      <!-- <navigator  hover-class='none' url="/pages/my/coin" class="nav_gator fl nav_gator2 ">
        <view class="ga_pic">
          <image mode='widthFix' src="/images/add/1.png"></image>
        </view>
        <text>我的账户 
        <text style="color:red;">{{info['price']}}</text>
        </text>
      </navigator> -->

      <!-- <navigator  hover-class='none' url="/pages/mfate/index?type=3" class="nav_gator fl">
      
        <view class="ga_pic">
          <image mode='widthFix' src="/images/add/2.png"></image>
        </view>
        <text>帮人牵缘 
        <text style="color:red;">{{info['pull_count']}}</text>
        </text>
      </navigator> -->

      <navigator  hover-class='none' url="/pages/my/activity" class="nav_gator fl nav_gator2 nav_gator3">
        <!-- <view class="nav_tip"></view> -->
        <view class="ga_pic">
          <image mode='widthFix' src="/images/add/4.png"></image>
        </view>
        <text>我的活动 
        <!-- <text style="color:red;">{{info['activity_count']}}</text> -->
        </text>
      </navigator>

      <!-- <navigator  hover-class='none' url="/pages/hb/index" class="nav_gator fl nav_gator2 nav_gator3">
        <view class="ga_pic">
          <image mode='widthFix' src="/images/hbt.png"></image>
        </view>
        <text>生成海报</text>
      </navigator> -->
      <navigator  hover-class='none' url="/pages/my/coin" class="nav_gator fl nav_gator2 nav_gator3">
        <view class="ga_pic">
          <image mode='widthFix' src="/images/add/1.png"></image>
        </view>
        <text>我的账户 
        <text style="color:red;">{{info['price']}}</text>
        </text>
      </navigator>

      <!-- <navigator  hover-class='none' url="/pages/myactivity/index" class="nav_gator fl">
        <view class="nav_tip"></view>
        <view class="ga_pic">
          <image mode='widthFix' src="/images/add/4.png"></image>
        </view>
        <text>我发起的活动 
         <text style="color:red;">{{info['activity_count']}}</text>
        </text>
      </navigator> -->

      <!-- <navigator url="/pages/reward/list"  class="nav_gator fl">
        <view class="ga_pic">
          <image mode='widthFix' src="/images/add/3.png"></image>
        </view>
        <text>悬赏推荐 
        {{info['reward_count']}}
        </text>
      </navigator> -->

      

      <navigator  hover-class='none' url="/pages/set/index" class="nav_gator fl nav_gator2 nav_gator3">
        <view class="ga_pic">
          <image mode='widthFix' src="/images/set2.jpg"></image>
        </view>
        <text>设置 
        </text>
      </navigator>
      
      
      <!-- <navigator class="nav_gator fl">
        <view class="nav_tip"></view>
        <view class="ga_pic">
          <image mode='widthFix' src="/images/zh.png"></image>
        </view>
        <text>收入奖励 </text>
      </navigator>

      <navigator class="nav_gator fl">
        <view class="nav_tip"></view>
        <view class="ga_pic">
          <image mode='widthFix' src="/images/yyj.png"></image>
        </view>
        <text>我的积分 </text>
      </navigator>

      <navigator url="/pages/set/single?title=奖励制度&type=3" class="nav_gator fl">
        <view class="ga_pic">
          <image mode='widthFix' src="/images/zd.png"></image>
        </view>
        <text>奖励制度 </text>
      </navigator>

      <navigator class="nav_gator fl">
        <view class="ga_pic">
          <image mode='widthFix' src="/images/dj.png"></image>
        </view>
        <text>我的等级 </text>
      </navigator>

      <navigator url="/pages/matchmaker/apply" class="nav_gator fl">
        <view class="ga_pic">
          <image mode='widthFix' src="/images/dta.png"></image>
        </view>
        <text>单身团动态 </text>
      </navigator> -->
      
    </view>

    <!-- <view class="h_nav h_nav1 clearfix">
      <navigator url="/pages/love/list" class="nav_gator fl">
        <view class="ga_pic">
          <image mode='widthFix' src="/images/add/5.png"></image>
        </view>
        <text>我的关注 </text>
      </navigator>

      <navigator url="/pages/change/index" class="nav_gator fl">
        <view class="ga_pic">
          <image mode='widthFix' src="/images/add/7.png"></image>
        </view>
        <text>换微信记录 </text>
      </navigator>

      <navigator style="position:relative;" hover-class='none'  class="nav_gator fl">
        <view class="ga_pic" style="line-height:64rpx;">
          <image mode='widthFix' src="/images/add/9.png"></image>
        </view>
        <text>帮助/客服 </text>
        <button style="width:100%;height:100%;position:absolute;top:0;left:0;z-index:10;opacity:0;" open-type="contact" session-from="weapp"></button>
      </navigator>

    </view> -->

    <!-- <view style="height:30rpx;"></view>

    <import src="/pages/template/common.wxml" />
    <template data="{{curSel:5}}" is="bot_nav"></template> -->

    <view class="mar_box clearfix">
      <navigator url="/pages/vip/member?type=5" class='mar_nav_b fl' hover-class='none'>
        <image wx:if="{{info['abc']==1||info['abc']==2}}" src="/images/hg.png" mode='widthFix' class="blogo dis_line"></image>
        
        <view class="mar_txt_c dis_line" style="color:#333;">申请红娘盟主</view>
        <image wx:if="{{info['abc']==1||info['abc']==2}}" src="/images/add/right.png" mode='widthFix' class="m_right dis_line"></image>
      </navigator>

      <navigator url="/pages/vip/member?type=6" class='mar_nav_b fl' hover-class='none'>
        <image wx:if="{{info['abc']==2}}" src="/images/hg.png" mode='widthFix' class="blogo dis_line"></image>
        <image wx:if="{{info['abc']==2}}" src="/images/hg.png" mode='widthFix' class="blogo dis_line"></image>
        <view class="mar_txt_c dis_line" style="color:#333;">申请城市合伙人</view>
        <image wx:if="{{info['abc']==2}}" src="/images/add/right.png" mode='widthFix' class="m_right dis_line"></image>
      </navigator>
    </view>

  </view>
</block>


<!-- 双重身份 -->
<block wx:if="{{identity==13}}">
  <view class="container">

    <view class="member_b">

      <view class="m_list clearfix">
        <view url="/pages/group/hinfo?id={{info['hid']}}" class="list_img fl">
          <image src="{{info['head_portrait']}}"></image>
        </view>

        <view class="list_con fr">
          <view class="m_sign">
            <view class="hmarker dis_linem"><text> {{info['nickname']}} </text></view>
            <view class="h_grade dis_linem">
              <block wx:if="{{info['nickname']==1}}">
              <image mode="widthFix" src="/images/vip.png"></image>
              </block>
            </view>

          </view>

          <view class="inf_id">UID:{{info['uid']}} </view>

          <view class="info_com_b">
            <view class="info_com dis_lineT">
              <view class="info_txt" style="width:{{info['perfect']}};">资料完整度 {{info['perfect']}}</view>
            </view>

            <navigator url="/pages/userInfo/hobby?type=1" class="go_info dis_lineT">去完善</navigator>
          </view>

          <view  data-type="2" bindtap='set_id_status' class="change_aut">身份切换红娘 <image mode="widthFix" src="/images/ri.png"></image> <text>12</text></view>

        </view>
        
        
      </view>

      <view class="inf_b flex">
        <navigator url="/pages/my/intro" class="flex1">
          <image mode='widthFix' src="/images/fb.png" style="margin-left:0;"></image>
          <text>自我介绍</text>
        </navigator>
        <navigator url="/pages/photo/index" class="flex1 bor_l">
          <image  mode='widthFix' src="/images/mphoto.png" style="margin-left:0;"></image>
          <text>我的相册</text>
        </navigator>
      </view>

    </view>

    <view class="user_nav">
      
      <navigator url="/pages/fare/index?title=邀请单身好友加入" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/yq.png"></image>
          <text>邀请单身好友加入</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
          <view class="user_nav_txt dis_line fr">立赚{{info['Integral']}}积分</view>
          
        </view>
      </navigator>

      <navigator url="/pages/fare/index?title=邀请好友当我红娘" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/yq2.png"></image>
          <text>邀请好友当我红娘</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
          <view class="user_nav_txt dis_line fr">立赚{{info['HIntegral']}}积分</view>
          
        </view>
      </navigator>
    
    </view>

    <view class="user_nav">
      
      <navigator url="/pages/report/list" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/xs.png"></image>
          <text>我的悬赏</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
          <view class="user_nav_txt dis_line fr">发布悬赏</view>
          
        </view>
      </navigator>

      <navigator url="/pages/mfate/index?type=1" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/qx.png"></image>
          <text>我发起的牵缘</text>
          
        </view>
      </navigator>

      <navigator url="/pages/mfate/index?type=2" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/qx.png"></image>
          <text>被约牵缘</text>
          
        </view>
      </navigator>

      <navigator url="/pages/love/hlist?id={{info['hid']}}" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/hn.png"></image>
          <text>我的红娘 / 关注</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
          <view class="user_nav_txt dis_line fr" style="color:#666;">{{info['hname']}}</view>
          <image class="fr u_hn" src="{{info['himg']}}"></image>
          
        </view>
      </navigator>

    

      <navigator url="/pages/my/coin" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/pd.png"></image>
          <text>我的派对币</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
          <view class="user_nav_txt dis_line fr" style="color:#666">{{info['price']}}</view>
        </view>
      </navigator>

      

      <navigator url="/pages/my/activity" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/hd.png"></image>
          <text>参加的活动</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
        
        </view>
      </navigator>

      <navigator url="/pages/change/index" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/wx.png"></image>
          <text>换微信记录</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
        
        </view>
      </navigator>

      <navigator url="/pages/vip/member?type=4" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/hfw.png"></image>
          <text>会员服务</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
        
        </view>
      </navigator>



      <navigator url="/pages/love/list" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/xdlw.png"></image>
          <text>心动 / 关注</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
        
        </view>
      </navigator>

      <navigator url="/pages/set/index" class="user_url">
        <view class="user_n_b clearfix">
          <image class="u_icon dis_line" mode='widthFix' src="/images/set.png"></image>
          <text>设置</text>
          <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
        
        </view>
      </navigator>
    
    </view>

    <view style="height:30rpx;"></view>

    <!-- <import src="/pages/template/common.wxml" />
    <template data="{{curSel:5}}" is="bot_nav"></template> -->

  </view>

</block>

<!-- <view class="if_head" bindtap='go_head' wx:if="{{if_head}}"></view>

<view class="if_head" bindtap='go_head2' wx:if="{{if_zl}}"></view> -->
