@import '../template/common.wxss';
@import '../group/hinfo.wxss';
.list_img{width: 125rpx;height: 125rpx;padding:10rpx;}
.list_img image{border-radius: 50%;}
.list_con{width: 550rpx;position: relative;}
.info_com{width: 277rpx;height: 34rpx;position: relative;background: #cfcfcf;border-radius:17rpx;overflow: hidden;margin-top: 10rpx;}
.info_txt{background: #debd78;text-align: left;color:#fff;font-size: 20rpx;height: 100%;line-height: 34rpx;text-indent: 15rpx;}
.h_grade {background: none;}
.inf_id {margin-top: 10rpx;}
.m_sign{margin-top: 5rpx;}
.go_info{color:#dbb76c;font-size: 22rpx;padding:10rpx;margin-left: 5rpx;}
.change_aut{position: absolute;right:0;top:15rpx;color:#000;font-size: 25rpx;height: 52rpx;line-height: 52rpx;padding:0 25rpx;z-index: 10001;}
.change_aut text{position: absolute;right:30rpx;top:-17rpx;background: #ff3333;color:#fff;font-size: 20rpx;border-radius: 50%;width: 34rpx;height: 34rpx;line-height: 34rpx;text-align: center;}
.change_aut image{width: 11rpx;padding-left: 20rpx;}
.inf_b{border-bottom: 1px solid #e9e9e9;height: 124rpx;}
.inf_b .flex1{width: 50%;height: 124rpx;line-height: 124rpx;}
.inf_b image{width:43rpx;}
.inf_b image,.inf_b text{display: inline-block;vertical-align: middle;}
.inf_b text{color:#333;font-size: 33rpx;padding-left: 44rpx;}
.bor_l{border-left:1px solid #f3f3f3;}

.user_url{width: 100%;box-sizing: border-box;padding-left: 35rpx;position: relative;}
.user_nav{background: #fff;border-bottom: 1px solid #e6e6e6;margin-top: 20rpx;}
.user_n_b{border-bottom: 1px solid #e7e7e7;height: 110rpx;line-height: 110rpx;}
.u_score{width:12rpx;margin-right:20rpx;margin-top:45rpx;  }
.u_icon{width: 71rpx;margin-right: 18rpx;}
.user_n_b text{color:#333;font-size: 30rpx;}
.user_nav_txt{color:#dbb76c;font-size: 25rpx;margin-right: 25rpx;}
.u_hn{width: 56rpx;height: 56rpx;border-radius: 50%;margin-top: 30rpx;margin-right: 10rpx;}
.user_nav .user_url:nth-last-child(1) .user_n_b{border-bottom: none;}

.latest_num{background:red;color:#fff;border-radius: 50%;width: 30rpx;height: 30rpx;text-align: center;font-size: 24rpx;display: inline-block;line-height: 30rpx;margin-left: 10rpx;vertical-align: middle;}



/* 红娘 */
.h_grade{border-radius: 26rpx;}
.h_grade text{font-size: 22rpx;background: none;}
.list_con{margin-top: 26rpx;}
.match_static{margin-top:10rpx;}
.static_txt{width: 160rpx;border-right: 1px solid #f1f1f1;text-align: center;height: 73rpx;color:#000;font-size: 25rpx;}
.static_txt text{color:#6d6d6d;font-size: 25rpx;display: block;width: 100%;}
.static_txt:nth-last-child(1){border-right: none;}
.inf_b .flex1{line-height: 40rpx;padding-top: 25rpx;}
.intro_y{color:#878787;font-size: 22rpx;padding-left: 0;}
.inf_b text{font-size: 33rpx;padding-left: 0;}
.inf_b image{padding-left: 55rpx;}
.p_r{text-align: left;margin-left:25rpx;}

.h_nav{background: #fff;}
.nav_gator{width: 25%;text-align: center;padding:40rpx 0 25rpx;position: relative;}
.nav_gator .nav_tip{position: absolute;width: 34rpx;height: 34rpx;background: #ff3333;text-align: center;line-height: 34rpx;color:#fff;right:25rpx;top:20rpx;border-radius: 50%;font-size: 24rpx;}
.nav_gator text{color:#717171;font-size: 25rpx;}
.ga_pic image{width: 60rpx;}
.ga_pic{height: 64rpx;}
.h_nav{margin-bottom: 15rpx;}
.h_nav1 .nav_tip{width: 11rpx;height: 11rpx;right: 50rpx;}

/* 红娘新 */
.h_d_l image{width: 50rpx;}
.h_d_l{width: 302rpx;text-align: center;border-right: 1px solid #d5d5d5;}
.h_index{background: #fff;margin-bottom: 5rpx;padding:30rpx 0;}
.z_ds{text-align: center;width: 430rpx;}
.h_d_l text{display: block;width: 100%;text-align: center;font-size: 28rpx;color:#333;}
.z_ds .z_nav{background: #73a69f;width: 300rpx;height: 76rpx;line-height: 76rpx;color:#fff;border-radius: 10rpx;display: inline-block;margin-top: 15rpx;}

.inf_b image{margin-right: 5rpx;}

.h_grade image{width: 35rpx;}

.contact_b{position: absolute;right:20rpx;bottom:0rpx;}
.contact_b image{width: 50rpx;}
.cont_btn{position:absolute;z-index: 10;width: 100%;height: 100%;left:0;top:0;opacity: 0;}
.contact_b2{bottom:-40rpx;}

.blogo{width: 50rpx;}
.m_right{width: 30rpx;}

.mar_box{background: #fff;}
.mar_nav_b{width: 50%;text-align: center;padding:20rpx 0;}
.mar_txt_c{color:#999;font-size: 28rpx;margin:0 10rpx;}

.is_vip_user{width: 27rpx;}



.latest_num2{float: right;background: none;color:#333;font-size: 26rpx;margin-top: 40rpx;margin-right: 15rpx;}

.h_d_l{width: 50%;box-sizing: border-box;}

.nav_gator3{width: 33.3%;}

.h_identify{margin-top: -30rpx;}
.h_iden_sign{background: #666;color:#fff;height:40rpx;font-size: 26rpx;border-radius: 10rpx;margin-right: 10rpx;display: inline-block;padding:0 15rpx;line-height: 40rpx;}
.h_score_b{font-size: 26rpx;line-height: 40rpx;}
.h_score_b text{color:#f40;}
