<view class="container">


  <view class="user_nav">
    
    <navigator class="user_url" style="position:relative;">
      <view class="user_n_b clearfix">
        <text>帮助与反馈</text>
        <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
        
      </view>
      <button style="width:100%;height:100%;position:absolute;top:0;left:0;z-index:10;opacity:0;" open-type="contact" session-from="weapp"></button>
    </navigator>

    <!-- <navigator url="/pages/black/index" class="user_url">
      <view class="user_n_b clearfix">
        <text>黑名单</text>
        <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
       
      </view>
    </navigator> -->

    <navigator wx:if="{{identity!=2}}" url="/pages/friend/index?type=1" class="user_url">
      <view class="user_n_b clearfix">
        <text>更改交友状态</text>
        <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
       
      </view> 
    </navigator>

    <navigator wx:if="{{identity!=2}}" url="/pages/friend/qrcode" class="user_url">
      <view class="user_n_b clearfix">
        <text>关注派对圈公众号</text>
        <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
      </view> 
    </navigator>

    <navigator url="/pages/set/single?title=关于我们&type=7" class="user_url">
      <view class="user_n_b clearfix">
        <text>关于我们</text>
        <image class="u_score fr" mode='widthFix' src="/images/rig.png"></image>
      </view>
    </navigator>
    

  </view>

  <button type="button" class="logout_btn" bindtap='log_out'>退出登录</button>

</view>
