<view class="container">

  <form bindsubmit='add_comment'>
    

    <view class="my_condition">
      <view class="cond_h3">评价内容</view>
      <view class="cond_h3 con_sel">
      <textarea bindinput='get_say' name="content" maxlength='300' placeholder='请输入评价内容'></textarea>
      <view class="my_say_txt">{{sayLen}}/300</view>
      </view>
    </view>

    <view class="my_condition">
      <view class="cond_h3 cond_h32">恋爱答谢金（选填）</view>
      <view class="cond_h3 con_sel" style="padding-top:10rpx;">
        <view class="award_txt">如您和推荐的用户确定了恋爱关系修成正果，您可以打赏媒婆红包以表示感谢</view>
        <view class="award_con">

          <view class="award_input">
          
            <view class="money_b dis_line">
              <input class="dis_line" name="price" bindinput='get_money' type="number" placeholder='请输入自定义派对币金额'></input>
              <text class="dis_line">派对币</text>
              
            </view>
            
          </view>

        </view>
      </view>
    </view>


 

    <!-- 支付弹窗 -->
    <view class="bg" bindtap='if_show_alert' wx:if="{{pay_alert}}"></view>
    <view class="pay_way" wx:if="{{pay_alert}}">
      
      <view class="pay_radio_input">
        <view class="pay_way_radio dis_line">支付方式：</view>
        <radio-group class="radio_group dis_line" bindchange="sel_way">
          <label class="radio" wx:for="{{payList}}" wx:key="">
            <radio value="{{item.type}}" checked="{{item.checked}}"/>{{item.name}}
          </label>
        </radio-group>
      </view>

      <block wx:if="{{integral!=''}}">
        <block wx:if="{{type==1}}">
          <view class="need_integral">
            <view class="rare_int">当前积分 {{integral}}</view>
            <input name="d_money" bindinput='get_dk' type="number" placeholder='抵扣金额'></input>
          </view>
        </block>
      </block>

      <view class="p_btn_b">
        <button form-type='submit' type="button" class="web_btn">确定</button>
      </view>

    </view>

    <view style="height:110rpx;"></view>
    <button type="button" class='fix_btn' bindtap='f_alert'>提交评价</button>

   

  </form>

</view>
