@import '../group/hinfo.wxss';

.mem_pics{position: relative;}
.mem_head{position: absolute;z-index: 10;padding:15rpx 20rpx;box-sizing: border-box;width: 100%;top:0;left:0;}
.mem_ret image{width: 17rpx;height: 32rpx;position: absolute;}
.mem_ret{width: 55rpx;height: 55rpx;background:rgba(0,0,0,.2);border-radius: 50%;text-align: center;line-height: 55rpx;position: relative;}
.mem_good{position: absolute;bottom:25rpx;right:15rpx;z-index: 2;background:rgba(0,0,0,.2);width: 153rpx;height: 60rpx;border-radius: 30rpx;line-height: 60rpx;text-align: center;}
.mem_good text{font-size: 27rpx;color:#fff;margin-left: 6rpx;vertical-align: middle;}
.mem_good image{width: 40rpx;vertical-align: middle;}

.mem_handle{width: 200rpx;background: rgba(0,0,0,.5);position: absolute;right:0;top:60rpx;}
.handle{color:#fff;font-size: 28rpx;height:60rpx;line-height: 60rpx;text-align: left;text-indent: 10rpx;border-bottom: 1px solid rgba(255,255,255,.2);background: none;padding:0;}
.mem_tap{width: 100%;height: 100%;}

.mem_maininfo{background: #fff;padding:25rpx;}
.mem_name text{color:#303030;font-size: 31rpx;font-weight: bold;}
.mem_name image{width: 27rpx;height: 27rpx;margin-left:10rpx;}
.mem_uid{color:#969696;font-size: 27rpx;}
.mem_p{color:#242424;font-size: 25rpx;margin-top:10rpx;}

.mem_head_info{width:100%;height: 55rpx;background: #dbb76b;margin:30rpx 0;}
.mem_head_b{margin-left:10rpx;position: relative;}
.mem_img{width: 80rpx;height:80rpx;border-radius: 50%;position:absolute;top:-15rpx;left:-30rpx}
.mem_img image{width: 100%;height:100%;border-radius: 50%;}
.mem_head_txt{margin-left: 60rpx;color:#fff;font-size: 24rpx;line-height: 55rpx;}
.mem_bg{background: #fff;overflow: hidden;}
.mem_grad{background: #846b42;padding:0 11rpx;height: 31rpx;line-height: 31rpx;border-radius: 15rpx;margin-left:15rpx;}
.mem_grad text{color:#fff;font-size: 20rpx;margin-left:6rpx;}
.mem_grad image{width: 27rpx;height: 20rpx;}

.mem_icon{width: 100%;}
.mem_nav{width: 33.3%;text-align: center;margin:15rpx auto;}
.mem_nav image{width: 84rpx;}
.mem_nav_txt{color:#242424;font-size: 27rpx;}

.mem_cer{background: #fff;margin:15rpx auto;padding:20rpx;box-sizing: border-box;width: 100%;}
.mem_t_icon image{width: 27rpx;}
.mem_t_icon text{color:#333;font-size: 25rpx;margin-left:26rpx;}
.mem_ri{background-repeat: no-repeat;background-size:11rpx 21rpx;background-position: right center;}

.cer_info{border:1px solid #f8f8f8;padding:25rpx 0;margin-top:20rpx;}
.cer_b{width: 25%;float: left;text-align: center;border-right: 1px solid #ededed;box-sizing: border-box;}
.cer_icon image{width: 52rpx;}
.cer_icon image:nth-child(2){display: none;}
.cer_status image{width:25rpx;height: 25rpx;vertical-align: middle;}
.cer_status image:nth-child(2){display: none;}
.cer_status text{color:#ccc;font-size: 20rpx;margin-left:6rpx;vertical-align: middle;}
.cer_txt{color:#aaa;font-size: 27rpx;margin:25rpx auto 12rpx;}
.cer_info .current image:nth-child(1){display: none;}
.cer_info .current image:nth-child(2){display: inline-block;}
.cer_info .current .cer_txt{color:#000;}
.cer_info .cer_b:nth-last-child(1){border-right: none;}

.about_info{background: #fff;padding:40rpx 20rpx;box-sizing: border-box;margin-top:20rpx;width: 100%;}
.about_info2{margin-top:0;}
.about_info_l{width: 170rpx;color:#333;font-size: 27rpx;}
.about_info_r{width: 530rpx;}
.about_info_r text{color:#808080;font-size: 25rpx;}
.about_pic{background-position: right 30rpx center;background-repeat: no-repeat;background-size: 11rpx 21rpx;}
.info_sign{color:#333;font-size: 25rpx;background: #f5f5f5;border:1px solid #ededed;height: 61rpx;line-height: 61rpx;padding:0 18rpx;margin-right: 20rpx;margin-bottom: 20rpx;display: inline-block;border-radius: 4rpx;}
.about_info_r_b{border-bottom: 1px solid #e9e9e9;}

.about_info_l image{width: 40rpx;}
.common_hobby{color:#666;font-size: 27rpx;margin-bottom: 25rpx;}
.common_hobby text{color:#c99422;}
.mem_cer2 .about_info {padding:30rpx 0;}
.info_sign2{background: #ffeabc;color:#c99422;}
.rec_gift{color:#333;font-size: 27rpx;margin-left:27rpx;}
.rec_gift text{display: inline-block;}
.mem_t_icon_b{border-bottom: 1px solid #f5f5f5;padding-bottom: 20rpx;}
.mem_t_icon_b image{vertical-align: middle;}
.gift_b{padding:30rpx 0;}
.gift_pic{width: 80rpx;text-align: center;margin-right:20rpx;}
.gift_icon{height: 120rpx;}
.gift_pic image{width: 77rpx;max-height: 120rpx;}
.gift_num{color:#333;font-size: 27rpx;}
.about_pic2{background-position: right center;}

.mem_btn_b{text-align: center;margin:62rpx auto;}
.mem_btn{display: inline-block;background: linear-gradient(#fdd388,#e5b561);height: 83rpx;border-radius: 40rpx;vertical-align: middle;width: 250rpx;text-align: center;line-height: 83rpx;margin:0 18rpx;}
.mem_btn image{width: 50rpx;vertical-align: middle;}
.mem_btn text{color:#fff;font-size: 30rpx;margin-left: 15rpx;}

.cer_info_b .cer_p{width: 163rpx;height: 163rpx;overflow: hidden;float: left;border:1px solid #f3f3f3;margin-right: 10rpx;margin-bottom: 10rpx;}
.cer_info_b .cer_p image{width: 100%;height: 163rpx;}

.mem_ri{position: relative;}
.mem_ri_icon{width:11rpx;height: 21rpx;position: absolute;right:0;top:15rpx;}

.mem_head_info{position: absolute;background: rgba(0,0,0,.5);border-radius: 30rpx;bottom:0;padding:5rpx 10rpx;z-index: 10;width:auto;left:30rpx;padding-right: 20rpx;}

.bot_icon{width: 43%;padding:0 10rpx;}

.mem_head{background: none;}

.Complaints_b{position: fixed;top:40%;left:50%;transform:translate(-50%,-50%);z-index: 1000;background:#fff;border-radius: 10rpx;padding:15rpx 0 0;width: 500rpx;}
.Complaints_b textarea{font-size: 30rpx;color:#333;padding:15rpx;height: 200rpx;width: 100%;box-sizing: border-box;}
.Complaints_b .web_btn{height: 70rpx;line-height: 70rpx;margin:0 auto;}

.sfz_dis{display: inline-block;vertical-align: middle;}

.sfz_dis image{width: 30rpx;display: inline-block;vertical-align: middle;}
.sfz_txt{font-size: 26rpx;color:#666;display: inline-block;vertical-align: middle;margin-left: 6rpx; padding-right: 30rpx;} 
.men_auth {background: #fff; border-top: 1rpx solid #F0F0F0; align-items: center; padding-top: 8rpx;}

.visitor {vertical-align: middle}
.visitor image {width: 50rpx; height: 50rpx; border-radius: 50%; margin-right: 5rpx;}
.visitor .visitor_info {display: inline-block; margin: 0 4rpx; vertical-align: middle;background-color: #a5a5a5;border-radius: 50%;}
.visitor_count {color: #979797; font-size: 25rpx; text-align: left; margin-top: 5rpx;}
.inline {display: inline-block;}
.visitor .points {vertical-align: middle; color: #979797;}
