<view class="container">

  <view class="mem_pics">
    <view class="mem_head clearfix">
      <!-- <navigator open-type='redirect' url="index" class="mem_ret fl">
        <image class="f_center" src="/images/left.png"></image>
      </navigator> -->

      <view class="mem_ret fr">
        <view class="mem_tap" bindtap='show_handle'>
          <image class="f_center" style="width:31rpx;" src="/images/more.png" mode='widthFix'></image>
        </view>
        <view class="mem_handle" hidden="{{handle}}">
          <!-- <button open-type='share' class="handle">分享</button> -->
          <!-- <view class="handle">屏蔽</view> -->
          <!-- <view class="handle" bindtap='add_block'>拉黑</view> -->
          <view class="handle" bindtap='Complaints'>投诉</view>
        </view>
      </view>
    </view>

    <block wx:if="{{detail['hdata']!=''}}">
      <view class="mem_head_info">
        <navigator url="/pages/group/hinfo?id={{detail['hdata'].id}}" class="mem_head_b">
          <view class="mem_img">
            <image src="{{detail['hdata'].head_portrait}}"></image>
          </view>
          <view class="mem_head_txt dis_linem"> Ta的红娘  {{detail['hdata'].nickname}}</view>
          
        </navigator>
      </view>
    </block>

    <block wx:if="{{detail['hdata']==''}}">
      <view class="mem_head_info">
        <view class="mem_head_b">
          <view class="mem_img">
            <image src="/images/def_head.png"></image>
          </view>
          <view class="mem_head_txt dis_linem"> 暂无婚恋导师</view>
          
        </view>
      </view>
    </block>


    <view class="slide_pic" style="background:url({{detail['head_portrait']}}) no-repeat center center;background-size:100% auto;height:600rpx;">
      <!-- <image src="{{detail['head_portrait']}}" mode='center' class="slide-image"/> -->
    </view>
    
  
    <view class="mem_good" data-id="{{detail['id']}}" bindtap='care'>
      <text>心动 </text>
      <block wx:if="{{detail['is_concern']==1}}">
        <image src="/images/love.png" mode="widthFix"></image>
      </block>
      <block wx:else>
        <image src="/images/icon1.png" mode="widthFix"></image>
      </block>
      <text>{{car_num}}</text>
    </view>

  </view>

  <view class="mem_maininfo">
    <view class="mem_t clearfix">
      <view class="mem_name fl">
        <text>{{detail['nickname']}} {{detail['age']}} {{detail['provinces']}} </text>
        <block wx:if="{{detail['is_vip']==1}}">
          <image src="/images/vip.png"></image>
        </block>

        <!-- <view class="sfz_dis" wx:if="{{detail['sfz']==1}}">
          <image src="/images/add/has_rz.png" mode='widthFix'></image>
          <view class="sfz_txt">已认证</view>
        </view> -->
        
      </view>
      <view class="mem_uid fr">UID: {{detail['uid']}}</view>
    </view>

    <!-- <view class="mem_p">
    {{detail['provinces']}} 
   
    </view> -->
    
  </view>

  <view class="men_auth flexk">
    <view class="visitor flex1">
      <view class="inline">
        <view class="visitor_info" wx:for="{{lookList}}">
          <image src="{{item.head_portrait}}"></image>
          <!-- <image src="{{item.head_portrait}}"></image> -->
        </view>
        <text class="points" wx:if="{{lookList.length > 6}}">···</text>
        <view class="visitor_count">{{detail.lookCount}}人浏览</view>
      </view>
    </view>
    <view class="sfz_dis">
      <image src="/images/rz_red.png" mode='widthFix'></image>
      <view class="sfz_txt">已认证</view>
    </view>
  </view>

  <view class="mem_bg">
    

    

  </view>

  <!-- <view class="mem_cer">
    <navigator url="/pages/userPhohe/index?id={{detail['id']}}" class="mem_ri">
      <view class="mem_t_icon">
        <image mode="widthFix" src="/images/cer.png"></image>
        <text>照片</text>
      </view>
      <image class="mem_ri_icon" src="/images/ri.png"></image>
    </navigator>


    <view class="cer_info cer_info_b clearfix" style="border:none;border-top:1px solid #f8f8f8">
      <view class="cer_p" wx:for="{{detail['photo']}}" wx:key="">
        <image src="{{item}}"></image>
      </view>


    </view>

  </view> -->

  <!-- <view class="mem_cer">
    <navigator class="mem_ri" >
      <view class="mem_t_icon">
        <image mode="widthFix" src="/images/cer.png"></image>
        <text>认证</text>
      </view>
   
    </navigator>

 
    <view class="cer_info clearfix">
      <view class="cer_b {{detail['sfz']==1?'current':''}}">
        <view class="cer_icon">
          <image src="/images/r_icon1.png" mode="widthFix"></image>
          <image src="/images/r_icon1_1.png" mode="widthFix"></image>
        </view>
        <view class="cer_txt">身份认证</view>
        <view class="cer_status">
          <image src="/images/no_rec.png"></image>
          <image src="/images/have_rec.png"></image>
          <text>已认证</text>
        </view>
      </view>

      <view class="cer_b {{detail['xl']==1?'current':''}}">
        <view class="cer_icon">
          <image src="/images/xl.png" mode="widthFix"></image>
          <image src="/images/xl2.png" mode="widthFix"></image>
        </view>
        <view class="cer_txt">学历认证</view>
        <view class="cer_status">
          <image src="/images/no_rec.png"></image>
          <image src="/images/have_rec.png"></image>
          <text>未认证</text>
        </view>
      </view>

      <view class="cer_b {{detail['cl']==1?'current':''}}">
        <view class="cer_icon">
          <image src="/images/car.png" mode="widthFix"></image>
          <image src="/images/car1.png" mode="widthFix"></image>
        </view>
        <view class="cer_txt">车辆认证</view>
        <view class="cer_status">
          <image src="/images/no_rec.png"></image>
          <image src="/images/have_rec.png"></image>
          <text>未认证</text>
        </view>
      </view>

      <view class="cer_b {{detail['fc']==1?'current':''}}">
        <view class="cer_icon">
          <image src="/images/fw.png" mode="widthFix"></image>
          <image src="/images/fw2.png" mode="widthFix"></image>
        </view>
        <view class="cer_txt">房屋认证</view>
        <view class="cer_status">
          <image src="/images/no_rec.png"></image>
          <image src="/images/have_rec.png"></image>
          <text>未认证</text>
        </view>
      </view>
    </view>

  </view> -->

  <!-- <view class="about_info clearfix">
    <view class="about_info_l fl">内心独白</view>
    <view class='about_info_r fr'>
      <text>{{detail['intro']}}</text>
    </view>
  </view> -->

  <view class="about_info about_pic clearfix" wx:if="{{detail['is_show']==1}}">
    <view class="about_info_l fl" style="width:500rpx;">微信号:{{detail['wx_number']}}</view>
  </view>
  
  <view class="about_info about_pic clearfix"  style="background-image:url('/images/ri.png')">
    <view class="about_info_l fl">基本资料</view>
    <view class='about_info_r about_info_r_b fr' style="padding-bottom:40rpx;">
     
      <view class="info_sign" wx:for="{{detail['jbzl']}}" wx:key="">{{item}}</view>
      
    </view>
  </view>

  
  
  <!-- <view  class="about_info about_info2 about_pic clearfix"  style="background-image:url('/images/ri.png')">
    <view class="about_info_l fl">择偶条件</view>
    <view class='about_info_r fr'>
      
      <view class="info_sign" wx:for="{{detail['ze_ou']}}" wx:key="">{{item}}</view>
     
    </view>
  </view> -->

  <!-- <view class="mem_cer mem_cer2">
    <navigator class="mem_ri" url="" style="background-image:url('/images/ri.png')">
      <view class="mem_t_icon">
        <text style="margin-left:0;">兴趣爱好</text>
      </view>
    </navigator>

    <view class="about_info about_info2 clearfix">
      <view class="about_info_l fl" style="width:60rpx;">
        <image src="/images/com_hobby.png" mode='widthFix'></image>
      </view>
      <view class='about_info_r fr' style="width:630rpx;">
        <view class="common_hobby">
          <text>{{detail['xqah'].number}}</text>个共同兴趣爱好
        </view>
        <view class="info_sign info_sign2" wx:for="{{detail['xqah'].list}}" wx:key="">{{item}}</view>
        
      </view>
    </view>

  </view> -->


 

  <!-- <block wx:if="{{cur_identity==1 || cur_identity==3 }}"></block> -->
  <view class="hei_90"></view>
  <view class="nav_bottom">
    <view class="bot_b">
      <view bindtap='get_vip' style="width:100%;" class="bot_icon bot_icon1" data-url="/pages/paypage/index?ptype=2&id={{id}}&wx_number={{detail['wx_number']}}&wx_name={{detail['nickname']}}&is_queren={{detail['is_queren']}}">
          <image mode='widthFix' style="width:50rpx;" src="/images/wx2.png"></image><text class='dis_lineT' style="font-size:32rpx;">换微信私聊</text>
      </view>

      <!-- <view bindtap='get_vip' class="bot_icon" data-url="/pages/paypage/index?ptype=1&id={{id}}">
          <image mode='widthFix' src="/images/m_icon333.png"></image><text class='dis_lineT'>帮我约Ta</text>
      </view> -->
     
      <!-- <view bindtap='get_vip' data-url="/pages/chat/index?id={{id}}" class="bot_icon">
          <image mode='widthFix' src="/images/chat3.png"></image><text class='dis_lineT'>聊天</text>
      </view> -->
    </view>
  </view>
  

  <block wx:if="{{if_com}}">
    <view class="bg" bindtap='if_com'></view>
    <view class="Complaints_b">
      <form bindsubmit='sub_toushu'>
        <textarea name="content" placeholder='请输入投诉内容'></textarea>
        <button form-type='submit' class="web_btn">确定</button>
      </form>
    </view>
  </block>
  

</view>
