.mem_seek{background: #fff;overflow: hidden;}
.seek_input{position: fixed;background: #e7e7e7;width: 690rpx;left:30rpx;top:30rpx;border-radius: 4rpx;text-align: center;height: 66rpx;overflow:hidden;}
.seek_hei{height: 96rpx;}
.seek_input input{line-height: 66rpx;height: 66rpx;text-align: left;color:#808080;font-size: 29rpx;vertical-align: middle;display: inline-block;}
.seek_input_b{background: #fff;height: 96rpx;position: fixed;top:0;left:0;width: 100%;}
.search image{width: 32rpx;margin-right: 10rpx;vertical-align: middle;}
.condition_b{width: 716rpx;margin-left:34rpx;}
.seek_t{color:#dbb76c;font-size: 33rpx;padding:25rpx 0;border-bottom: 1px solid #e5e5e5; }
.seek_t text{background: #dbb76c;font-size: 20rpx;color:#fff;border-radius: 4rpx;padding:5rpx 8rpx;display: inline-block;vertical-align: middle;margin-left:6rpx;}
.seek_condition{border-bottom: 1px solid #e5e5e5;padding:25rpx 25rpx 25rpx 0;}
.seek_txt{color:#333;font-size: 29rpx;}
.con_con{width: 70%;}
.con_con view{width: 100%;text-align: right;}
.con_con .picker{color:#808080;font-size: 29rpx;}
.seek_sub button{display: inline-block;vertical-align: middle;width: 333rpx;margin-right: 20rpx;}
.web_confirm{background: #dbb76c;}
.web_btn{margin-top:30rpx;margin-bottom: 30rpx;}
